<!-- Jimwel L. Valdez | WD-302 -->

<section class="references">
    <h2 class="title">References</h2>
    <div class="ref-body">
        <div class="left">
            <div class="ref-container">
                <p class="bold">Ms. Carisma A. Caro</p>
                <p class="ref-details">Information Technology (IT) Program Chair</p>
                <p class="ref-details">HAU School of Computing</p>
                <a href="mailto:ccarisma@hau.edu.ph"><p class="ref-details">ccarisma&#64;hau.edu.ph</p></a>
            </div>
            <div class="ref-container">
                <p class="bold">Dr. Joseph A. Esquivel</p>
                <p class="ref-details">College Professor</p>
                <p class="ref-details">HAU School of Computing</p>
                <a href="mailto:jesquivel@hau.edu.ph"><p class="ref-details">jesquivel&#64;hau.edu.ph</p></a>
            </div>
        </div>
        <div class="right">
            <div class="ref-container">
                <p class="bold">Mr. Chris Almocera</p>
                <p class="ref-details">Practicum Coordinator</p>
                <p class="ref-details">HAU School of Computing</p>
                <a href="mailto:calmocera@hau.edu.ph"><p class="ref-details">calmocera&#64;hau.edu.ph</p></a>
            </div>
        </div>
    </div>
    
</section>

<!-- Copyright (c) 2024 by Jimwel Valdez. All rights reserved. -->