<section id="hero" class="text-center text-jlight relative">
    <img class="h-[80vh] lg:h-[60vh] object-cover" src="hero-image-index.jpg" alt="Hero image" srcset="">
    <div class="hero-content absolute top-0 h-full align-middle flex flex-col justify-center items-center w-[80%] md:w-[85%] lg:w-[91%] mx-14 gap-8">
        <h1 class="text-6xl font-bold">Here, We Head Forward to the Future!</h1>
        <p>Why look back to the past when you can break free from it? JimTech is
        focused on providing this generation with future-ready technologies! Want to see how we do that?
        Continue scrolling</p>
    </div>
</section>

<section id="featured" class="flex flex-col md:flex-row justify-between px-14 py-12 gap-12 items-center">
    <img class="object-cover w-full md:w-[35%] rounded-xl" src="featured-image.jpg" alt="">
    <div class="flex flex-col align-top gap-8 featured-content">
        <h2 class="text-3xl font-bold">Experience the future through our high-quality electronic products.</h2>
        <p>Get the best only from the best. Every latest tech product is available here. At JimTech, we got you!</p>
        <button class="bg-jprimary text-white py-2 px-4 rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 transition-all duration-200 w-40"><a class="m-4" href="#products">Shop now</a></button>
    </div>
</section>